
h3 {
    color: #666666;
    
}
p {
    color: #666666;
    font-size:larger;
}

.project-category {
    color: #666666;
    font-size:smaller;
}
.title {
    color: #666666;
    font-size:x-large;
   margin-top: 0px;
    padding-top: 0px;
}
h4 {
    color: #666666;
    font-size:x-large;
    margin-top: 0px;
    padding-top: 0px;
}
