/*
*/
/*.container{
padding-left: 0px;
    width: 1170px;    
    width: auto;    
    padding-right: 0px;
    margin-left: 10px;
    margin-right: 0px;
    }*/

    
/*@media (min-width: 1200px) {.span2 {width: 180px !important;}
.row-fluid .span2 {
width: 14.364640883% !important;
*width: 14.311449393638298% !important;
}*/

/*    
@media (min-width: 1200px) {
    .container {
        width: 100%;
        max-width: 1200px;
        margin-right: 0;
        margin-left: 0;
    }
}*/

/*@media (min-width: 1170px) {
    .container {
        max-width: 1170px;
        margin-right: 0;
        margin-left: 0;
    }
}*/
/*@media (min-width: 992px) {
    .container {
        max-width: 992px;
        margin-right: 0;
        margin-left: 0;
    }
}*/